{% extends 'base.html' %}

{% block title %}Ecommerce{% endblock %}

{% block content %}
    <h1>Loja</h1>
    <h2>Categorias</h2>
    <ul>
        {% for categoria in categorias %}
            <li>{{ categoria.categoria }}</li>
            <li>{{ categoria.descricao }}</li>
        {% endfor %}
    </ul>
    <h2>Produtos</h2>
    <ul>
        {% for produto in produtos %}
            <li>{{ produto.produto }}  - R$ {{ produto.preco }} - {{produto.categoria}} </li>
        {% endfor %}
    </ul>
    {% endblock %}