# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
.env
.env.*
.virtual/
.virtual*/

# Django
*.log
local_settings.py
# db.sqlite3
db.sqlite3-journal
# media/
staticfiles/

# Coverage / testing
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.tox/
.nox/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
